<h3>► talks</h3>
<br>
<ul id="posts">
    <li>How to Get into Open Source @ <a href="https://www.meetup.com/Women-Who-Code-London">Women Who Code London</a> • <a href="https://www.youtube.com/watch?v=0buL1lnqUz0">Video</a></li>
    <li>Contribuir para Open Source como colaborador e maintainer @ <a href="https://devfest.gdgportugal.xyz/">Devfest Portugal</a> • <a href="https://youtu.be/-EFVDjDdeXw?t=6766">Video</a> 🇵🇹</li>
    <li>How documentation and open communication leads to better collaboration @ <a href="https://www.meetup.com/Ladies-of-Code-UK/events/272472641/">Ladies of Code London</a> • <a href="https://youtu.be/KGG3PXYwKIE?t=1491">Video</a></li>
</ul>
        
<p>Check out <a href="/talks">all talks</a></p>
